body{
	background: #f7f7f7;
}
#login-main{
	width: 1000px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%);
}
.login-item{
	height: 100%;
	float: left;
}
.login-label{
	margin: 10px auto;
}
.login-input{
	margin: 5px auto;
}
#login-title{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
}
#login-content-left{
	width: 40%;
	background: #4164e4;
}
#login-content-right{
	width:60%;
	background: white;
}
#login-img-left{
	/* display: block; */
	margin-top: 100px;
	/* border-top: 25%; */
	width: 100%; 
	/* height: inherit; */
	/* height: 277.32px; */
}
#login-input-div{
	margin-top: 60px;
	margin-left: 100px;
}
#login-input-username{
	border: none;
}
#login-input-password{
	border: none;
}