/* 本css主要制指定了各个页面的导航栏和共有的部分的样式 */
/* tip：活用vw和vh */
body{
	/* 页面的主体部分 */
	/* 部分浏览器的body会自带8px的margin，这里归零 */
	margin: 0px;
}
#nav-frame{
	/* 左侧导航栏的整体外框 */
	float: left;
	width: 220px;
	height: 100vh;
	min-height: 925px;
	background-color: #333943;
}
#nav-user-info{
	/* 导航栏上用户的信息显示 */
	display: flex;
	margin-left: 12px;
	margin-top: 24px;
}
.nav-img{
	width:20px;
	height: 20px; 
	margin-left: 20px; 
	margin-right:12px;
}
.nav-item{
	/* 导航栏的选项的基础样式，即没有选中时候的样式 */
	display: flex;
	line-height: 48px;
	align-items: center;
	margin-top:0px;
	margin-left: 12px;
	color: white;
	width: 196px;
	height: 48px;
	margin-top: 32px;
	margin-left: 12px;
	border-radius: 8px;
	cursor: pointer;
}
.page-active{
	/* 导航栏的选项的高亮样式，即浏览当前页面时对应的选项要高亮 */
	background-color: #4164e4!important;
}
#content-frame{
	/* 右侧页面内容的整体外框 */
	float: left;
	width: 85vw;
	height: 100vh;
}
#content-top-bar{
	/* 右侧内容顶部的包含退出登录按钮的div */
	float: left;
	width: 100%;
	display: block;
	padding-top: 20px;
	
}
#content-title-bar{
	/* 右侧内容第二高的部分的包含当前页面标题的div */
}
#content{
	/* 主要内容 */
}
.option-button{
	/* 各种操作按钮的样式 */
	border-radius: 5px;
	width: 120px;
	height: 50px;
	background-color: #4164e4;
	text-align: center;
	color: white;
	line-height: 50px;
	cursor: pointer;
}
#option-logout{
	margin-right: 12px;
	float: right;
}