<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script src="js/vue.global.prod.js"></script>
		<script src="js/axios.min.js"></script>
		<script src="js/user_login.js"></script>
		<script src="js/user_logout.js"></script>
		<script src="js/user_search.js"></script>
		<script src="js/file_upload.js"></script>
		<link rel="stylesheet" href="css/test.css">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<title>Title</title>
	</head>
	<body>
		<div class="test-unit" id="test-log">
			<div class="option">
				<button @click="LogIn" class="option-button">测试登入</button>


			</div>
			<div class="result">
				用户名<input type="text" v-model="LoginForm.username">密码<input type="text"
					v-model="LoginForm.password"><br />
				{{info}}
			</div>
		</div>
		<div class="test-unit" id="test-log-out">
			<button @click="LogOut" class="option-button">测试登出</button>
		</div>
		<div class="test-unit" id="test-userSearch">
			<div class="option">
				<button @click="UserSearch" class="option-button">查询用户</button>
			</div>
			<div class="result">
				页数<input type="text" v-model="userSearchForm.current">
				每页显示条数<input type="text" v-model="userSearchForm.size">
				用户id<input type="text" v-model="userSearchForm.accountid"><br />
				<table>
					<tr>
						<th>
							<div class="table-cell">
								昵称
							</div>
						</th>
						<th>
							<div class="table-cell">
								账号
							</div>
						</th>
						<th>
							<div class="table-cell">
								密码
							</div>
						</th>
						<th>
							<div class="table-cell">
								权限
							</div>
						</th>
						<th>
							<div class="table-cell">
								激活状态
							</div>
						</th>
					</tr>
					<tr v-for="item in userlist">
						<td>
							<div class="table-cell">
								{{item.nickname}}
							</div>
						</td>
						<td>
							<div class="table-cell">
								{{item.username}}
							</div>
						</td>
						<td>
							<div class="table-cell">
								{{item.password}}
							</div>
						</td>
						<td>
							<div class="table-cell">
								{{item.jurisdiction}}
							</div>
						</td>
						<td>
							<div class="table-cell">
								{{item.status}}
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="test-unit" >
			<div class="result">
				<div id="test-applyname" style="display: inline;">
					应用名
					<select @click="applynameSearch">
						<template v-for="item in applynameList">
							<option>
								{{item.applyname}}
							</option>
						</template>
					</select>
				</div>
				<div id="test-platform" style="display: inline;">
					应用名
					<select @click="platformSearch()" v-model="">
						<template v-for="item in platformList">
							<option>
								{{item.appplatform}}
							</option>
						</template>
					</select>
				</div>
			</div>
		</div>
		<div class="test-unit">
			<div id="test-upload">
				<input
				ref="file"
				type="file" 
				accept=".jpg" 
				multiple="multiple"
				@change="upload(e)"
				/>
			</div>
		</div>
		<script>
			userLoginApp.mount('#test-log')
			userLogoutApp.mount('#test-log-out')
			userSearchApp.mount('#test-userSearch')
			fileUploadApp.mount('#test-upload')
		</script>
	</body>
</html>
